



body{
    font-family: 'sora',system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.footer h3{
    color:#fff ;
    margin: 20px 0;
    font-size: 18px;
}

.footer .news-letter-container h3{
    color: #888;
}

.footer a, .footer p{
    font-size: 15px;
}